body {
	height: 832px;
	width: 100%;
	background-image: url("tanka.jpg.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}
#s1 {
	height: 732px;
	width: 1280px;
	margin: 0px;
}
#tit {
	display: inline-block;
	margin: 100px 0px;
	padding: 20px 20px;
	font-size: 96px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	background-color: rgb(150, 100, 100);
	border-radius: 50px;
}
.links {
	color: rgb(255, 255, 255);
	font-size: 48px;
	display: block;
	margin: 20px 40px;
	text-decoration: none;
}
.links:hover {
	text-decoration: underline;
	text-decoration-color: rgb(255, 255, 255);
}

footer {
	background: rgb(235, 221, 221);
	height: 100px;
	width: 100%;
	margin: 0;

}
#foot {
	padding: 25px 0;
	font-size: 40px;
}