body {
	height: 600px;
	width: 100%;
	background-image: url("tanka2.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
}

h1 {
	font-size: 64px;
	color: rgb(255, 255, 255);
	margin: 100px 100px;
	margin-bottom: 50px;
	text-decoration: underline;
	text-decoration-color: rgb(255, 255, 255);
}

#text {
	color: rgb(255, 255, 255);
	font-size: 50px;
	margin: 0 100px;
}

#blank {
	margin: 100px 0;
}

#button {
	display: inline-block;
	margin-left: 100px;
	border: 200px 80px;
	border-radius: 30px;
}
#back {
	font-size: 20px;
	margin-left: 0px;
	color: rgb(0, 0, 0);
}
#back:hover {
	text-decoration: underline;
	text-decoration-color: rgb(0, 0, 0);
}
